* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://fastly.picsum.photos/id/89/1920/1080.jpg?hmac=_AXqEfdwhL9bvngRWe3wXqkjay9wBfq2VNwauPcSgAs");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}
button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}
button:hover {
    opacity: 0.8;
}

#rock, #paper, #scissors {
    background-color: #d6d6d6;
}
p.your-score, p.computer-score {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
span#score, span#scoreComputer {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    color: #990202;
}
p.result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #000000;
}
